// Fonte
@font-face {
  font-family: "Play", sans-serif;
  src: url("../fonts/Play-Regular.ttf");
}

// Cores
$vermelho: rgb(182, 59, 59);
$branco: rgb(255, 255, 255);
$cinza: rgb(69, 69, 69);
$verde: rgb(0, 150, 62);
$preto: rgb(0, 0, 0);
$ciano: rgb(0, 218, 247);
$roxo: rgb(108, 0, 209);
$azul: rgba(0, 60, 94, 0.363);

// Corpo
html,
body {
  //box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Play", sans-serif;
  width: 100%;

  .item1 { grid-area: header; }
  .item2 { grid-area: main; }
  .item3 { grid-area: footer; }

  .grid-container {
    display: grid;
    grid-template-areas:
      "header "
      "main   "
      "footer ";
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  // Color classes
  .purple {
    color: $roxo;
  }
  .green {
    color: $verde;
  }
  .cyan {
    color: $ciano;
  }
  
}