// Fonte
@font-face {
  font-family: "Play", sans-serif;
  src: url("../fonts/Play-Regular.ttf");
}

// Cores
$vermelho: rgb(182, 59, 59);
$branco: rgb(255, 255, 255);
$cinza: rgb(69, 69, 69);
$verde: rgb(0, 150, 62);
$preto: rgb(0, 0, 0);
$ciano: rgb(0, 218, 247);
$roxo: rgb(108, 0, 209);
$azul: rgba(0, 60, 94, 0.363);

// Corpo
body, html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

body {
  // Body global config
  font-family: "Play", sans-serif;
  // CSS Grid
  .item1 { grid-area: header; }
  .item2 { grid-area: main;   }
  .item3 { grid-area: footer; }
  .grid-container {
    display: grid;
    grid-template-areas:
      "header "
      "main   "
      "footer ";
  }
  // Classes de estrutura
  main { margin-top: 20px; }
  // Helper classes
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex-container-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
  }
  .center {
    justify-content: center;
    align-content: center;
    text-align: center;
  }
  .vertical-center {
    top: 50%;
    transform: translateY(-50%);
  }
  // Padding Classes
  .p5   { padding: 5px }
  .p10  { padding: 10px }
  .p15  { padding: 15px }
  .p20  { padding: 20px }
  .pt5  { padding-top: 5px }
  .pt10 { padding-top: 10px }
  .pt15 { padding-top: 15px }
  .pt20 { padding-top: 20px }
  .pb5  { padding-bottom: 5px; }
  .pb10 { padding-bottom: 10px; }
  .pb15 { padding-bottom: 15px; }
  .pb20 { padding-bottom: 20px; }
  .pl5  { padding-left: 5px; }
  .pl10 { padding-left: 10px; }
  .pl15 { padding-left: 15px; }
  .pl20 { padding-left: 20px; }
  .pr5  { padding-right: 5px; }
  .pr10 { padding-right: 10px; }
  .pr15 { padding-right: 15px; }
  .pr20 { padding-right: 20px; }
  // Position Classes
  .fixo { position: fixed; }
  // Color classes
  .purple { color: $roxo;  }
  .green  { color: $verde; }
  .cyan   { color: $ciano; }
  .darkblue  { color: $azul  }
  .darkgrey  { color: $cinza }
  // Background color classes
  .bg-darkblue  { background-color: $azul  }
  // Classes de Link
  .links {
    ul {
      list-style: none;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      &:hover {
        text-shadow: $preto 2px 0;
        color: $verde;
      }
      &:active {
        color: $preto;
      }
    }
  }
  // Image class helpers
  .logo {
    img {
      width: 50px;
    }
  }
}