@font-face {
  font-family: "Play", sans-serif;
  src: url("../fonts/Play-Regular.ttf");
}

$vermelho: rgb(182, 59, 59);
$branco: rgb(255, 255, 255);
$verde: rgb(0, 150, 62);
$preto: rgb(0, 0, 0);
$ciano: rgb(0, 218, 247);
$roxo: rgb(58, 0, 112);
$azul: rgba(0, 60, 94, 0.363);

main {
  .card {
    background-color: $branco;
    border-radius: 10px;
    max-height: 350px;
    max-width: 500px;
    padding-bottom: 1px;
    margin: 15px;
  }
  .card-image {
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 100%;
      width: 100%;
    }
  }
  .card-title {
    font-family: "Play", sans-serif;
    font-size: 20px;
    margin: 10px;
  }
  .card-subtitle {
    font-family: "Play", sans-serif;
    font-size: 15px;
    margin: 10px;
  }
  .card-description {
    font-family: "Play", sans-serif;
    font-size: 10px;
    margin: 10px;
  }
  .card-actions {
    font-family: "Play", sans-serif;
    font-size: 25px;
    margin: 10px;
  }
  .card-button {
    margin: 10px;
    button {
      background-color: #4caf50; /* Green */
      display: inline-block;
      text-decoration: none;
      text-align: center;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 15px;
      cursor: pointer;
      color: white;
      border: none;
    }
    .green {
      background-color: white;
      color: black;
      border: 2px solid #4caf50;
      &:hover {
        background-color: #4caf50; /* Green */
        color: white;
      }
    }
  }
}
