// Fonte
@font-face {
  font-family: "Play", sans-serif;
  src: url("../fonts/Play-Regular.ttf");
}

// Corpo
html,
body {
  //box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Play", sans-serif;
  width: 100%;

  .item1 { grid-area: header; }
  .item2 { grid-area: main; }
  .item3 { grid-area: footer; }

  .grid-container {
    display: grid;
    grid-template-areas:
      "header "
      "main   "
      "footer ";
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }
}

main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
