@font-face {
  font-family: "Play", sans-serif;
  src: url("../fonts/Play-Regular.ttf"); }

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "Play", sans-serif; }
  body .item1 {
    grid-area: header; }
  body .item2 {
    grid-area: main; }
  body .item3 {
    grid-area: footer; }
  body .grid-container {
    display: grid;
    grid-template-areas: "header " "main   " "footer "; }
  body main {
    margin-top: 20px; }
  body .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  body .flex-container-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center; }
  body .center {
    justify-content: center;
    align-content: center;
    text-align: center; }
  body .vertical-center {
    top: 50%;
    transform: translateY(-50%); }
  body .fixo {
    position: fixed; }
  body .purple {
    color: #6c00d1; }
  body .green {
    color: #00963e; }
  body .cyan {
    color: #00daf7; }
  body .cinza {
    color: #454545; }
  body .links a {
    text-decoration: none;
    cursor: pointer; }
    body .links a:hover {
      text-shadow: black 2px 0;
      color: #00963e; }
    body .links a:active {
      color: black; }
