@font-face {
  font-family: "Play", sans-serif;
  src: url("../fonts/Play-Regular.ttf"); }

body, html {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: "Play", sans-serif; }
  body .item1 {
    grid-area: header; }
  body .item2 {
    grid-area: main; }
  body .item3 {
    grid-area: footer; }
  body .grid-container {
    display: grid;
    grid-template-areas: "header " "main   " "footer "; }
  body main {
    margin-top: 20px; }
  body .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  body .flex-container-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center; }
  body .center {
    justify-content: center;
    align-content: center;
    text-align: center; }
  body .vertical-center {
    top: 50%;
    transform: translateY(-50%); }
  body .p5 {
    padding: 5px; }
  body .p10 {
    padding: 10px; }
  body .p15 {
    padding: 15px; }
  body .p20 {
    padding: 20px; }
  body .pt5 {
    padding-top: 5px; }
  body .pt10 {
    padding-top: 10px; }
  body .pt15 {
    padding-top: 15px; }
  body .pt20 {
    padding-top: 20px; }
  body .pb5 {
    padding-bottom: 5px; }
  body .pb10 {
    padding-bottom: 10px; }
  body .pb15 {
    padding-bottom: 15px; }
  body .pb20 {
    padding-bottom: 20px; }
  body .pl5 {
    padding-left: 5px; }
  body .pl10 {
    padding-left: 10px; }
  body .pl15 {
    padding-left: 15px; }
  body .pl20 {
    padding-left: 20px; }
  body .pr5 {
    padding-right: 5px; }
  body .pr10 {
    padding-right: 10px; }
  body .pr15 {
    padding-right: 15px; }
  body .pr20 {
    padding-right: 20px; }
  body .fixo {
    position: fixed; }
  body .purple {
    color: #6c00d1; }
  body .green {
    color: #00963e; }
  body .cyan {
    color: #00daf7; }
  body .darkblue {
    color: rgba(0, 60, 94, 0.363); }
  body .darkgrey {
    color: #454545; }
  body .bg-darkblue {
    background-color: rgba(0, 60, 94, 0.363); }
  body .links ul {
    list-style: none; }
  body .links a {
    text-decoration: none;
    cursor: pointer; }
    body .links a:hover {
      text-shadow: black 2px 0;
      color: #00963e; }
    body .links a:active {
      color: black; }
  body .logo img {
    width: 50px; }
