@font-face {
  font-family: "Play", sans-serif;
  src: url("../fonts/Play-Regular.ttf"); }

html,
body {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "Play", sans-serif;
  width: 100%; }
  body .item1 {
    grid-area: header; }
  body .item2 {
    grid-area: main; }
  body .item3 {
    grid-area: footer; }
  body .grid-container {
    display: grid;
    grid-template-areas: "header " "main   " "footer "; }
  body .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  body .flex-container-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center; }
  body main {
    margin-top: 20px; }
  body .purple {
    color: #6c00d1; }
  body .green {
    color: #00963e; }
  body .cyan {
    color: #00daf7; }
