header {
  background-color: rgba(0, 60, 94, 0.363); }
  header nav .logo img {
    width: 50px; }
  header nav .toolbar ul {
    list-style: none; }
    header nav .toolbar ul li {
      padding: 5px; }
