header {
  background-color: rgba(0, 60, 94, 0.363);
  width: 100%;
  height: 70px; }
  header nav .logo img {
    width: 50px;
    margin: 15px 0; }
  header nav .toolbar ul {
    list-style: none; }
    header nav .toolbar ul li {
      padding: 5px; }
