@font-face {
  font-family: "Play", sans-serif;
  src: url("../fonts/Play-Regular.ttf"); }

html,
body {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "Play", sans-serif;
  width: 100%; }
  body .item1 {
    grid-area: header; }
  body .item2 {
    grid-area: main; }
  body .item3 {
    grid-area: footer; }
  body .grid-container {
    display: grid;
    grid-template-areas: "header " "main   " "footer "; }
  body .flex-container {
    display: flex;
    justify-content: space-between; }

main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
